.Footer {
  position: fixed;
  bottom: 0;
  height:20px;
  width:100%;
  color:white;
  border-top: 1px solid #333;
  padding:1px;
  background-color: #333;/*rgba(136, 176, 75, 1);*/
}

.Footer a {
  color: rgba(136, 176, 75, 1);
  text-decoration: underline dotted;
}
