.Footer {
  position: fixed;
  bottom: 0;
  height:40px;
  width:100%;
  color:white;
  border-top: 1px solid #333;
  padding:10px;
  background-color: rgba(136, 176, 75, 1);
}

.Footer a {
  color: purple;
  text-decoration: underline dotted;
  font-size: 20px;
}
