.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  width: 50px;
  margin-right:2px;
}
.white{
  color: orange;
 }

 .Header{
  box-shadow:2px 2px 14px #444;
 }

 .profile-pic{
  width:30px;
  height:30px;
  border-radius:50%;
  float:left;
  padding-top:5px;
 }

 .profile-item{
  margin:0 auto;
  max-width:100px;
  background:#444;
  border-radius:20%;
 }

 .logout {
  float:right;
 }

.App-header {
  background-color: rgba(136, 176, 75, 1);
  height: 100px;
  padding: 10px;
  color: white;
}

.artShare-brand a{
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
