.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  width: 40px;
  position:relative;
}
.artShare-brand a, .navbar-brand{
  font-size: 25px;
  position: relative;
  text-shadow:  1px 1px 2px #555;
}

.navbar-dark, .navbar-nav, .nav-link, a.nav-link{
  color:white;
}

.white{
  color: orange;
}


.navbar, .navbar-expand-lg, .navbar-dark, .bg-dark, .fixed-top{
  border-bottom:4px solid #fff;

}

.profile-item {
  margin:0 auto;
  width:92px;
  min-height:42px;
  line-height: .9em;
  border-radius:50%;
  padding:7px;
  position:relative;
}
.profile-item:hover{
  cursor:pointer;
  background-color:#777;
}
.profile-item > a:hover{
  color:#444;
}

.profile-pic{
  width:30px;
  height:30px;
  border-radius:50%;
  padding-top:5px;
  position:absolute;
  left:0;
  top:0;
  padding-left:3px;
}


.nav-userName {
  position:absolute;
  top:0;
  right:0;
  font-size:10px;
  max-
  margin:0;
  padding:0;
  padding-right:12px;
  padding-top:2px;
}

.logout {
  position:absolute;
  right:0;
  top:.5;
 }

.App-header {
  background-color: rgba(136, 176, 75, 1);
  height: 100px;
  padding: 10px;
  color: white;
}

/* ANIMATIONS */
.navbar-animated {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
