.uploadPreview {
  width:200px;
  height:auto;
  box-shadow:2px 2px 4px #444;
}


.postform-wrap{
  margin-top:10px;
  width: calc(100% / 3);
  min-width:400px;
  margin:0 24%;
}

.postArt{
  margin-bottom:20px;
}

form.postform{
  min-width:400px;
  margin: 0 24%;
}

.drop-container{
  width:600px;
  margin-bottom:10px;
}

.button-wrap{
 margin:0 24%;
 width: 100%;
}

.button-wrap > button {
  width: calc(100%/3);
  height:auto;
  margin:0 24%;
  color: white;
  background-color: rgba(136, 176, 75, 1);
  text-align:center;
  box-shadow:1px 1px 5px teal;
  padding:15px;
}

input {
  width:100%;
  height:50px;
  text-align:center;
  color:#555;
  box-shadow:1px 1px 5px teal;
  margin-bottom:10px;
}

label {
  font-family:;
  width:100%;
  text-align:left;
  color:teal;
}

textarea {
  width:400px;
  height:100px;
  max-width:400px;
  max-height:200px;
  color:#555;
  text-align:center;
  box-shadow:1px 1px 5px teal;
  padding:15px;
}

.success {
  min-height:50%;
}

