
.postArt{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-container {
  max-width: 1400px;
  min-width: calc(100%/3);
}

.row {
  margin-bottom: 20px;
}

.uploadPreview {
  max-width:125px;
  height:auto;
  margin-left:5px;
  text-align: center;
}

/*.uploadPreview {
  max-width:150px;
  padding:5px;
  margin-left:5px;
  font-size:10px;
  color: #555;
  background-color:rgba(20,20,20,0.1);
  border:1px solid teal;
  box-shadow:1px 1px 2px teal;
  min-width:70px;
  min-height:69px;
  word-wrap: break-word;
}*/

.submitter{
  color: #555;
}

.disabled {
  border: none;
  box-shadow:none;
  word-wrap:break-word;
  overflow: hidden;
  font-size:10px;
  color: #ccc;
  font-weight:thin;
  padding:1px;
}

.postform-wrap{
  align-self:center;
  width:100%;
}



.postform{
  max-width:450px;
  align-self: center;
  margin:0 auto;
  padding:10px;
}

.drop-container{
  margin-bottom:10px;
}

.button-wrap{
 margin:0 24%;
 width: 100%;
}

.button-wrap > button {
  width: calc(100%);
  min-height:25px;
  margin:0 24%;
  color: #333;
  text-align:center;
  box-shadow:1px 1px 5px teal;
  padding:2px;
}

.button-wrap > button:hover {
  cursor:pointer;
  background-color: teal;
  color:white;
}

input {
  width:100%;
  max-width:400px;
  height:50px;
  text-align:center;
  color:#555;
  box-shadow:1px 1px 5px teal;
  margin-bottom:10px;
}

input.disabled{
  height:10px;
}
label {

  width:100%;
  max-width:400px;
  text-align:left;
  color:teal;
}

textarea {
  width:100%;
  max-width:400px;
  min-height:100px;
  color:#555;
  text-align:center;
  box-shadow:1px 1px 5px teal;
  padding:15px;
  margin-bottom:10px;
}

.success {
  min-height:50%;
}

.logins {
  padding-top:140px;
  min-height:50%;
}


/* TAGS INPUT */
.react-tagsinput {
  background-color: #fff;
  font-family: 'Karma', sans-serif;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #teal;
}

.react-tagsinput-tag {
  background-color: #555;
  border-radius: 2px;
  border: 1px solid #888;
  color: white;
  display: inline-block;
  font-family: "Karma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 8px;
  box-shadow:1px 1px 2px #ccc;
  height:40px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background-color: transparent;
  text-transform: lowercase;
  border-radius: 2px;
  border: 1px solid #888;
  color: #333;
  display: inline-block;
  font-family: "Karma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 8px;
  box-shadow:1px 1px 2px #ccc;
  height:40px;
  width:80px;
}


