.sharewall {
  margin-bottom:100px;
  text-align: center;
   align-items: center;
}

.art-container {
  max-width: 1400px;
}

.responsive-image {
  max-width: 100%;
}

.share-description{
  max-height:40px;
  overflow-y: hidden;
}

.artwork{
  padding:2px;
  height:auto;
  overflow-y:hidden;
  margin:10px;
}

.add-new{
  margin-bottom:40px;
  max-width:100px;

}

.text-wrap{
  margin-top:25px;
}
.searchTerm {
  max-width:400px;
  min-width: 200px;
}

.artwork > img {
  align-self: flex-start;
  justify-content: center;
  box-shadow:5px 5px 5px #ccc;
  display: block;
  padding:1px;
  margin: 0 auto;

  width:90%;
  height:auto;
}

.title-link{
  color:#2200CC;
}

.title-link:hover{
  color: #0088cc;
  text-decoration:underline dotted;
}


.add-wrap > h4 {
  margin-top:15px;
}
.art-grid {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:500px) and (max-width:750px) {

  .artwork {
    width: calc(100% / 3);
  }


}


@media screen and (min-width: 751px) and (max-width:999px) {
  .artwork {
    width: calc(100% / 4);
  }
}


@media screen and (min-width: 1000px) and (max-width: 1100px) {

  .artwork {
    width: calc(100% / 4);
  }
}


@media screen and (min-width: 1101px) {

  .artwork {
    width: calc(100% / 6);
  }


}

