.sharewall {
  margin-bottom:100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img{
  box-shadow: 2px 2px 5px #333;
}

.art-container {
  max-width: 1400px;
}

.responsive-image {
  max-width: 100%;
}

.share-description{
  max-height:40px;
  overflow-y: hidden;
}

.artwork{
  box-shadow: 1px 1px 3px #ccc;
  max-height:370px;
  height:370px;


}

.text-wrap{
  margin-top:25px;
}

.artwork > img {
  align-self: flex-start;
  justify-content: center;
  box-shadow:5px 5px 5px #ccc;
  display: block;
  margin: 0 auto;
  width:90%;
  height:auto;
}

.title-link{
  color:blue;
}

.art-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 499px) {
  .art-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
  align-items: center;

  }
  .artwork {
    width:100%;
    padding:2%;
    margin:5px;

  }

  .artwork > img {
    width:80%;
    margin: 0 auto;
    height:auto;

  }

}
@media screen and (min-width: 500px) and (max-width:700px) {

  .artwork {
    width: calc(100% / 2);
  }

    .art-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
  align-items: center;

  }
}


@media screen and (min-width: 701px) and (max-width:999px) {

  .artwork {
    width: calc(100% / 3);
  }

    .art-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
  align-items: center;

  }
}


@media screen and (min-width: 1000px) and (max-width: 1100px) {

  .artwork {

    width: calc(100% / 4);
  }

    .art-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
  align-items: center;

  }
}


@media screen and (min-width: 1101px) {

  .artwork {

    width: calc(100% / 4);
  }

    .art-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
  align-items: center;

  }
}

