.viewArtwork{
  margin-top:200px;
  margin-bottom:70px;
}

.viewArt{
  width:90%;
  margin-bottom:15px;
}

.well {
  width:90%;
  margin-top:130px;
  margin:0 auto;
  margin-bottom:100px;
}

.view-more-link {
  color: orange;
}

