.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.w3-white .w3-xlarge {
  max-width:1400px;
  margin:auto;
}
.artshare-content {
  max-width:1400px;
}

.w3-quarter > img {
  width:100%;
}

.artshare-about > .w3-image {
  display:block;
  margin:auto;
}



