.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sidebar-inline{
  display:none;
  z-index:2;
  width:40%;
  min-width:300px;
}

.w3-white .w3-xlarge {
  max-width:1200px;
  margin:auto;
}
.artshare-content {
  max-width:1200px;
  margin-top:50px;
}

.w3-quarter > img {
  width:100%;
}

.artshare-about > .w3-image {
  display:block;
  margin:auto;
}



